name: Generate Coverage
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  generate_coverage:
    name: Generate Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 2.6

      - name: Run tests
        env:
          CLIENT_ID: ${{secrets.CLIENT_STAGING_ID }}
          CLIENT_SECRET: ${{secrets.CLIENT_SECRET_STAGING }}
          API_STAGING_BASE_URL: ${{secrets.API_STAGING_BASE_URL}}
          ENVIRONMENT: ${{secrets.ENVIRONMENT}}
        run: bundle exec rspec

      - name: Ls files
        run: ls -la coverage

      - name: Deploy coverage to S3
        uses: zdurham/s3-upload-github-action@master
        with:
          args: --acl public-read
        env:
          FILE: "coverage/coverage_badge_total.svg"
          S3_BUCKET: ${{ secrets.AWS_STAGING_BUCKET_NAME }}
          S3_KEY: "coverage_badge_total.svg"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
          AWS_REGION: "us-east-1"

      - name: Change coverage_badge_total.svg Cache-Control
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
          aws configure set default.region "us-east-1"
          aws s3 cp s3://${{ secrets.AWS_STAGING_BUCKET_NAME }}/coverage_badge_total.svg s3://${{ secrets.AWS_STAGING_BUCKET_NAME }}/coverage_badge_total.svg --metadata-directive REPLACE --cache-control "max-age=0" --acl public-read --content-type "image/svg+xml"
